<%- include("./partials/header") %>
<div class="container text-center" style="margin-top: 100px;">
    <div class="alert alert-danger" role="alert">
        All data removed!
    </div>
    <hr><a href="/research/index">
        <button class="btn">Back to Homepage</button>
    </a>
</div>

<%- include("./partials/footer") %>